<div>
    <%= what %>
    <%= due %>
    <%= des %>
    <button id="update">Update</button>
    <form action="/delete/<%= _id %>" method="POST">
        <input type="submit" value="Delete">
    </form>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="/update/<%= _id %>" method="POST">
                
                <input type="date" name="due">
                <input type="text" name="des" placeholder="description">
                <input type="submit">
            </form>
        </div>

    </div>
</div>