<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <% include ./partials/header %>
    <main>
        <div class="container">
            <span id="todos">TODO</span>

            <ol>
            <% for(let i=0; i<todos.length; i++) { %>
                <% if(todos[i].done == 0) { %>
                <li>
                    <a href="/todo/<%= todos[i]._id %>">
                        <span>
                            <%= todos[i].what %>
                        </span>
                    </a>
                    <form method="POST" action="/done/<%= todos[i]._id %>">
                        <input type="submit" value="done">
                    </form>
                </li>
                <% } %>
            <% } %>
            </ol>

            <button id="add">Add</button>
        </div>
        <div class="container">
            <span id="havedones">HAVEDONE</span>

            <ol>
            <% for(let i=0; i<todos.length; i++) { %>
                <% if(todos[i].done == 1) { %>
                <li>
                    <a href="/todo/<%= todos[i]._id %>">
                        <span>
                            <%= todos[i].what %>
                        </span>
                    </a>
                    <form method="POST" action="/undone/<%= todos[i]._id %>">
                        <input type="submit" value="undone">
                    </form>
                </li>
                <% } %>
            <% } %>
            </ol>

            <button>Empty</button>
        </div>
    </main>


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="/add" method="POST">
                <input type="text" name="what" placeholder="what">
                <input type="date" name="due">
                <input type="text" name="des" placeholder="description">
                <input type="submit">
            </form>
        </div>

    </div>


    <script src="js/main.js"></script>
</body>

</html>